@model List<ApiProjeWeb.UI.Dtos.CategoryDtos.ResultCategoryDto>

<ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <li class="nav-item">
            <a class="nav-link @(i == 0 ? "active show" : "")"
                   data-bs-toggle="tab"
                   data-bs-target="#menu-@item.CategoryId">
                <h4>@item.CategoryName</h4>
            </a>
        </li>
    }
</ul>