<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
        <div class="nav-logo" style="max-height: 30px; margin-bottom:90px;">
            <a href="/Default/Index" class="logo" style=" margin-left: 40px;">
            <img src="/otika-bootstrap-admin-template/assets/img/image-gallery/logo.png"
                 alt="İZ Logo"
                 class="logo-img"
                 style="height: 122px !important; width: auto !important; max-height: none !important;">
        </a>
    </div>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active" style="font-size: 19px !important; font-weight: 500 !important;">Ana Sayfa</a></li>
                <li><a href="#about" style="font-size: 19px !important; font-weight: 500 !important;">Hakkımızda</a></li>
                <li><a href="#menu" style="font-size: 19px !important; font-weight: 500 !important;">Menü</a></li>
                <li><a href="#events" style="font-size: 19px !important; font-weight: 500 !important;">Etkinlikler</a></li>
                <li><a href="#chefs" style="font-size: 19px !important; font-weight: 500 !important;">Şefler</a></li>
                <li><a href="#gallery" style="font-size: 19px !important; font-weight: 500 !important;">Galeri</a></li>
                <li><a href="#contact" style="font-size: 19px !important; font-weight: 500 !important;">İletişim</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="#book-a-table" style="font-size:17px !important;">Rezervasyon Yapın</a>

    </div>
</header>